---
export interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex gap-2">
	{
		tags.map((t) => (
			<a href={`/tag/${t}`} class="text-gray-500 font-bold">
				#{t}
			</a>
		))
	}
</div>
